#!/bin/sh
PWD="$( cd "$( dirname "${BASH_SOURCE[0]}" )" && pwd )"

ordering_dir={{ ordering_dir }}
ordering_binary={{ ordering_binary }}

if [ -f $ordering_dir/ordering.pid ]
then
    old_pid=$(cat $ordering_dir/ordering.pid)
fi

if [ ! -z $old_pid ]
then
    echo "The service is running, pid is $old_pid"
    kill $old_pid
    echo "Stopping the service"
    rm -f $ordering_dir/ordering.pid
fi


nohup java -jar $ordering_dir/$ordering_binary &

new_pid=$(ps -ef | grep "$ordering_dir/$ordering_binary" | grep -v grep | awk '{print $2}')

echo "Starting the service, pid is $new_pid"

echo $new_pid >> $ordering_dir/ordering.pid